# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ambientes Virtuais (Venv)
venv/
env/
.venv/
ENV/

# Configurações e Segredos (CRÍTICO)
.env
.env.test
.env.local

# Selenium e Drivers (Webdriver Manager cuida disso)
.wdm/
chromedriver.exe
geckodriver

# Logs e Dados Temporários
*.log
data/raw/
data/temp/

# Output
data/output/

# Docker
.docker/

# IDEs (VS Code / PyCharm)
.vscode/
.idea/